<h2>Cadastro</h2>
<form action="/cadastro" method="POST">
    <input name="nome" placeholder="Nome">
    <input name="email" placeholder="Email">
    <input name="senha" type="password" placeholder="Senha">
    <button type="submit">Cadastrar</button>
</form>

<h2>Login</h2>
<form action="/login" method="POST">
    <input name="email" placeholder="Email">
    <input name="senha" type="password" placeholder="Senha">
    <button type="submit">Login</button>
</form>

<br>
<a href="/listar">Ver Usuários</a>